################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/myFirstApp/.vs/myFirstApp/FileContentIndex/3b1f7991-b128-4701-966b-b3a3eb6e7139.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/5f08d598-7f58-4644-b85e-25af048de061.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/6b34ec8b-3f87-47db-a2c3-fff93e1dbc07.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/e16e5786-c1df-4d66-af56-adf8b363b806.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/42513dec-7b0a-4823-bbb3-aa2da6b01148.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/440e7450-d91c-465e-8968-661f4e3f60d0.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/b4b309a7-8b1e-4033-aac1-0a0bc4347a28.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/128ab45a-0bbd-4c52-b765-40a99f505079.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/473b5dc7-839b-4783-8b7d-5e07e07188a8.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/64ba8254-340b-4773-9f7b-81d0876b1238.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/c32b55d6-2538-42d1-a904-b7baa773fe00.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/ca281a82-ae50-4271-bc86-4e5cfe0490e3.vsidx
