################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/myFirstApp/.vs/myFirstApp/FileContentIndex/3b1f7991-b128-4701-966b-b3a3eb6e7139.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/5f08d598-7f58-4644-b85e-25af048de061.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/6b34ec8b-3f87-47db-a2c3-fff93e1dbc07.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/e16e5786-c1df-4d66-af56-adf8b363b806.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/42513dec-7b0a-4823-bbb3-aa2da6b01148.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/440e7450-d91c-465e-8968-661f4e3f60d0.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/b4b309a7-8b1e-4033-aac1-0a0bc4347a28.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/128ab45a-0bbd-4c52-b765-40a99f505079.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/473b5dc7-839b-4783-8b7d-5e07e07188a8.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/64ba8254-340b-4773-9f7b-81d0876b1238.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/c32b55d6-2538-42d1-a904-b7baa773fe00.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/ca281a82-ae50-4271-bc86-4e5cfe0490e3.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/d9effba0-46d3-462b-b086-f64f0ab35e56.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/8671795b-3151-4f7b-9c5d-3e3f12a14a8b.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/b2716b83-3c86-4f77-aaab-310deb8b1b93.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/b4227e99-4f8f-4abf-ab4f-6262f60a68a8.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/bff76ba7-ee09-47e2-954d-66b673f404a8.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/dfffbb8f-3f36-4206-8c12-76b4e943c8f1.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/e825a0fa-d6ae-45f6-9cf0-d4a91bab4404.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/21aac34b-c799-44b7-b2b4-dc1acb4fe6f6.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/2a17fac3-c89e-4855-a294-1cd39917d57a.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/5e39bca8-3a63-48d6-9408-916d86544b5a.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/7020bbc0-f711-480c-9155-1906b9edafc2.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/b275d6dd-fb08-413d-b5b3-82b17b0e8f25.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/08c17ba3-5420-45cd-8d08-e5aa5125091e.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/3dbb429d-78bf-444c-b8d6-4dd8f97a7395.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/6e115b22-0767-4b52-b1dd-51d4157aa63e.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/6fdc6015-2793-424d-a4c5-bffa14d76341.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/78d99eac-3eb9-43d8-8d5b-de0e0b148926.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/a6c1398c-785f-4e5a-976b-f7c13d0b0213.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/aab5ce83-0af9-4add-a3c2-29ec6e6527c5.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/53e7e245-df9f-41ad-8773-80d53e2babfd.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/6fd93b5e-db9e-4eb9-bb9b-0c2fed653874.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/95efaea4-4366-4802-96a8-2bb0171d65a6.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/bb64b4fe-292c-40f2-97bd-e5c6208b8765.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/f5a9911e-4bd9-45c8-bada-eb637c150bf0.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/12c7372e-f11f-492c-a9c9-6fc256be1d53.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/3304166e-d555-4c9f-954b-a56da7331214.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/97764f05-c56c-4790-988a-54a6766cd5ab.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/b3c89082-90ad-4d99-8fb6-003c1a52452c.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/dfa0fcc6-24c4-4365-9d88-c63c443dbec9.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/11dc92cd-df91-4d4f-93b2-456dcffe0aa2.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/4d0b2524-28b5-416f-8e06-e75770ce9593.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/ac4ba235-05b6-4757-b2f1-eeac8b10a7eb.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/ad37e88f-6237-4c22-9bfe-2283a28ca5d3.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/fb552cc3-768a-4661-b736-4a436f9f2737.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/ac81af85-6592-49fe-bd7d-7e1facb518e3.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/444bac1f-beb6-42c4-a947-299712078007.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/98214aab-6ffd-4528-8bc8-ce21269d23fc.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/7d3026e9-24e2-43d4-bbef-07d963e8913f.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/d2164693-4b01-4c08-a64c-9e5c3d331af6.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/7b30fb22-ad3e-41a0-83c8-08fb1c373f4c.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/17ca0de8-26cc-4a80-9426-1b4be4e231e7.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/2071c057-3f5a-4556-826d-bdc51e7d5ea1.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/47a3d4ed-2901-4b98-b2cf-5bb626a10f50.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/65fcddc2-8986-4d1f-a4b3-c27ed78f5280.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/842dbb00-bfa8-4303-8f30-a77679a68963.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/665e4df2-1d70-498e-9bee-51b2aaa776f2.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/7d4d112a-70b6-4e9f-b4fe-262000b3b37d.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/e60eee15-f52d-4ca4-bd09-8b95d43d9d77.vsidx
